.Btn_continer {
  width: 100px;
  height: 40px;
  background-color: #8cc928;
  border: none;
  border-radius: 5px;
  color: white;
}
.main_continar {
  margin: 200px 200px 0px 200px;
}
.header_continer {
  display: flex;
  justify-content: space-between;
}
.tablehead {
  background-color: #dfdddd;
}
.h1_Contianer {
  font-size: 20px;
  font-weight: 800;
}
.table>:not(caption)>*>*{
  border-bottom-width: 0px !important;
}
